
/* General style for pagination. */
#pagination {
    -fx-page-information-visible: false;
    -fx-tooltip-visible: false;
}

/* Style for arrow buttons. */
#pagination .button {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
}

/* Style for page buttons */
/*noinspection CssUnusedSymbol*/
#pagination .toggle-button {
    -fx-opacity: 0%;
}

/*noinspection CssUnusedSymbol*/
.pagination .toggle-button {
   -fx-opacity: 0%;
}

.pagination .button {
   -fx-background-color: white;
}

.pagination .label {

}
